@media(max-width: 800px) {


    /*index style*/
    







    /* buttons style*/

    .button-30{
        font-size: 15px;

    }











    .caption-box{
        padding: 10px;
        width: 200px;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .result-box{
        margin-top: 100px;
        width: 300px;
    }

    .square2{
        margin-top: 100px;
    }

    .modalidad-titulo{
        font-size: 20px;
    }


    h1{
        font-size: 35px;
    }



    p{
        font-size: 15px;
    }

    a{
        font-size: 15px;
    }


}